{% load i18n custom_tags %}

{% if attachments %}
    <div class="form-group row">
        <div class="col-md-3">
            <label class="label-align">
                {% translate 'Attachments' %}
            </label>
            <small class="form-text text-muted text-right mt-0">
                {% blocktranslate %}
                    Allowed to upload up to {{ max_attachments }} attachments
                {% endblocktranslate %}
            </small>
        </div>
        <div class="col-md-9">
            {% for attachment in attachments %}{% if attachment.name %}
                <div class="row border-bottom">
                    <div class="col-10">
                        <div class="align-self-center mt-2">
                            <a
                                {% if attachment.uploaded %}
                                href="{% url 'attachments:get-attachment' attachment.bd_id attachment.name %}"
                                class="attachment-link" data-filename="{{ attachment.name }}"
                                data-download-url="{% url 'attachments:get-attachment' attachment.bd_id attachment.name %}?download=1"
                                {% else %}
                                href="#!"
                                {% endif %} 
                               >
                                <i class="fas fa-paperclip mr-2"></i>
                                {{ attachment.name }} {% if not attachment.uploaded %}({% translate "Unsynchronized" %}){% endif %}
                            </a>
                        </div>

                        
                        

                    </div>
                    {% if "encrypt_" in attachment.name %}
                    <div class="col-1">
                        <a class="btn pull-right show-data attachment-link" 
                            href="{% url 'dashboard:grm:decrypt_issue_attachment' doc.auto_increment_id attachment.id %}" 
                            data-url="{% url 'dashboard:grm:decrypt_issue_attachment' doc.auto_increment_id attachment.id %}" 
                            data-download-url="{% url 'dashboard:grm:decrypt_issue_attachment' doc.auto_increment_id attachment.id %}" 
                            data-filename="{{ attachment.name }}"
                            id="show_data_attachment_{{ doc.auto_increment_id }}_{{ attachment.id }}">
                                <i class="far fa-eye link show-data"></i>
                            </a>
                    {% endif %}
                    </div>

                    <div class="col-1">
                        <a class="btn pull-right delete-attachment"
                           data-url="{% url 'dashboard:grm:delete_issue_attachment' doc.auto_increment_id attachment.id %}">
                            <i class="far fa-trash-alt text-danger"></i>
                        </a>
                    </div>
                </div>
            {% else %}[{% translate "We can't see the file name" %}]{% endif %}{% endfor %}
        </div>
    </div>
{% endif %}
<div {% if attachments|length == max_attachments %}style="cursor: not-allowed;"{% endif %} class="row mb-4">
    <div class="col-md-3"></div>
    <div class="col-md-9">
        <a class="btn btn-primary btn-sm fs12 rounded-xl {% if attachments|length == max_attachments %}
        disabled{% endif %}"
           id="add_attachment">
            {% translate "Add attachments" %}
        </a>
    </div>
</div>
