{% load static i18n custom_tags %}
<p>
    <b>{% translate "Total complaints in your administrative level" %} : </b>
    {{ total_issues }}
</p>
<div class="table-responsive">
<table id="table" class="table table-sm">
    <thead class="primary">
    <tr class="table-active">
        <th>{% translate 'ID Number' %}</th>
        {% comment %} <th>{% translate 'Access Code' %}</th> {% endcomment %}
        <th>{% translate 'Summary' %}</th>
        <th>{% translate 'Assigned to' %}</th>
        <th>{% translate 'Days Open' %}</th>
        <th>{% translate 'Category' %}</th>
        <th>{% translate 'Locality' %}</th>
        {% comment %} <th>{% translate 'Type' %}</th> {% endcomment %}
        <th>{% translate 'Status' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for issue in issues %}
        <tr 
        style="
        {% if issue.status.id == 1 %}
        color: red; font-weight: bold;
        {% elif issue.status.id == 2 %}
        color: purple;
        {% elif issue.status.id == 3 %}
        color: green;
        {% elif issue.status.id == 4 %}
        color: red;
        {% endif %}
        "
        
        >
            <td>
                <a href="{% url 'dashboard:grm:issue_detail' issue.auto_increment_id %}">
                    {% if issue.internal_code %}
                        {{ issue.internal_code }}
                    {% else %}
                        {{ issue.tracking_code }}
                    {% endif %}
                </a>
            </td>
            {% comment %} <td>{{ issue.tracking_code }}</td> {% endcomment %}
            <td align="left">
                {% if "b'" in issue.description %}
                    ***
                {% else %}
                    {{ issue.description }}
                {% endif %}
            </td>
            <td>{{ issue.assignee.name }}</td>
            <td>{% get_days_until_today issue.created_date %}</td>
            <td>{{ issue.category.name }}</td>
            <td>{% if issue.administrative_region %}{{ issue.administrative_region.name }}{% else %} - {% endif %}</td>
            {% comment %} <td>{{ issue.issue_type.name }}</td> {% endcomment %}
            <td>{{ issue.status.name }}</td>
        </tr>
    {% empty %}
        <td class="text-center" colspan="8">
            {% translate 'No issues found' %}
        </td>
    {% endfor %}
    </tbody>
</table>
</div>


<!-- DataTables export files -->
{% include 'layouts/datatable-js.html' %}

<script>
    try{
        total_issues = parseInt("{{ total_issues }}");
        console.log(total_issues + " ======");
    }catch(e){
        console.log(e);
    }

    $(document).ready(function () {
        {% get_current_language as lang %}

        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "numeric-comma-pre": function (a) {
                var x = parseFloat(a.replace(/\s+/g, '').replace(',', '.'));
                return isNaN(x) ? 0 : x;
            },
            "numeric-comma-asc": function (a, b) {
                return a - b;
            },
            "numeric-comma-desc": function (a, b) {
                return b - a;
            }
        });

        if ($.fn.DataTable.isDataTable('#table')) {
            $('#table').DataTable().destroy();
            $('#table').empty(); 
        }

        let table = $('#table').DataTable({
            language: {
                url: '{% static 'AdminLTE/plugins/datatables/locale/lang.json' %}'.replace('lang', '{{ lang }}')
            },
            columnDefs: [
                { 
                    type: 'numeric-comma', targets: [3]
                }
            ],
            dom: 'Blfrtip',
            buttons: ['copy', 'excel', 'pdf', 'colvis'],
            lengthMenu: [10, 20, 30, 40, 43, 50, 60, 70, 80, 90, 100],
            pageLength: 10,
            order: []
        });

    });
</script>