{% load bootstrap4 static i18n custom_tags %}

<style>
    .dataTables_wrapper table {
        width: 100%;
    }
    #table tbody tr td {
        font-size: 10px !important;
    }
</style>
<p>
    <span class="float-md-left">
        <b>{% translate "Total complaints in your administrative level" %} : </b>
        {{ total_issues }}
    </span>

    
    <span id="id_download_file" class="float-md-right text-primary text-bold" style="cursor: pointer;">{% translate "Download full database datas" %}</span>

    <span class="float-md-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span id="download-message" class="float-md-right" style="display:none;">{% translate "Download in progress..." %}</span>
    <span id="download-complete-message" class="float-md-right" style="display:none;">{% translate "Download complete!" %}</span>

    <span class="float-md-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <div class="clearfix"></div>
</p>
<div class="clearfix"></div>
{% comment %} <div class="table-responsive"> {% endcomment %}
<table id="table" class="table table-sm">
    <thead class="primary">
    <tr class="table-active">
        {% comment %} <th width="7%">{% translate 'ID Number' %}</th> {% endcomment %}
        <th width="7%">{% translate 'Access Code' %}</th>
        <th width="30%">{% translate 'Summary' %}</th>
        <th width="10%">{% translate 'Category' %}</th>
        <th width="8%">{% translate 'Reported by' %}</th>
        <th width="8%">{% translate 'Assigned to' %}</th>
        <th width="6%">{% translate 'Days Open' %}</th>
        <th width="8%">{% translate 'Date of complaint' %}</th>
        <th width="8%">{% translate 'Date of registration' %}</th>
        <th width="8%">{% translate 'Locality' %}</th>
        {% comment %} <th>{% translate 'Type' %}</th> {% endcomment %}
        <th width="7%">{% translate 'Status' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for issue in issues %}
        <tr 
        style="
        {% if issue.status.id == 1 %}
        color: red; font-weight: bold;
        {% elif issue.status.id == 2 %}
        color: purple;
        {% elif issue.status.id == 3 %}
        color: green;
        {% elif issue.status.id == 4 %}
        color: red;
        {% endif %}
        "
        
        >
            {% comment %} <td>
                <a href="{% url 'dashboard:grm:issue_detail' issue.auto_increment_id %}">
                    {% if issue.internal_code %}
                        {{ issue.internal_code }}
                    {% else %}
                        {{ issue.tracking_code }}
                    {% endif %}
                </a>
            </td> {% endcomment %}
            <td>
                <a href="{% url 'dashboard:grm:issue_detail' issue.auto_increment_id %}">
                    {{ issue.tracking_code }}
                </a>
            </td>
            <td align="left">
                {% if "b'" in issue.description %}
                    ***
                {% else %}
                    {{ issue.description }}
                    {% comment %} {% if issue.description|length > 100 %}
                        {{ issue.description|slice:":100" }}...
                    {% else %}
                        {{ issue.description }}
                    {% endif %} {% endcomment %}
                {% endif %}
            </td>
            <td>{{ issue.category.name }}</td>
            <td>{{ issue.reporter.name }}</td>
            <td>{{ issue.assignee.name }}</td>
            <td>{% get_days_until_today issue.created_date %}</td>
            <td>{{ issue.issue_date|string_to_date|date:'d/m/Y' }}</td>
            <td>{{ issue.created_date|string_to_date|date:'d/m/Y' }}</td>
            <td>{% if issue.administrative_region %}{{ issue.administrative_region.name }}{% else %} - {% endif %}</td>
            {% comment %} <td>{{ issue.issue_type.name }}</td> {% endcomment %}
            <td>{{ issue.status.name }}</td>
        </tr>
    {% empty %}
        <td class="text-center" colspan="8">
            {% translate 'No issues found' %}
        </td>
    {% endfor %}
    </tbody>
</table>
{% comment %} </div> {% endcomment %}


<!-- DataTables export files -->
{% include 'layouts/datatable-js.html' %}

<script>
    try{
        total_issues = parseInt("{{ total_issues }}");
        console.log(total_issues + " ======");
    }catch(e){
        console.log(e);
    }

    $(document).ready(function () {
        {% get_current_language as lang %}

        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "numeric-comma-pre": function (a) {
                var x = parseFloat(a.replace(/\s+/g, '').replace(',', '.'));
                return isNaN(x) ? 0 : x;
            },
            "numeric-comma-asc": function (a, b) {
                return a - b;
            },
            "numeric-comma-desc": function (a, b) {
                return b - a;
            }
        });

        if ($.fn.DataTable.isDataTable('#table')) {
            $('#table').DataTable().destroy();
            $('#table').empty(); 
        }

        let table = $('#table').DataTable({
            language: {
                url: '{% static 'AdminLTE/plugins/datatables/locale/lang.json' %}'.replace('lang', '{{ lang }}')
            },
            columnDefs: [
                { 
                    type: 'numeric-comma', targets: [3]
                },
                { "width": "7%", "targets": 0 },
                { "width": "30%", "targets": 1 },
                { "width": "10%", "targets": 2 },
                { "width": "8%", "targets": 3 },
                { "width": "8%", "targets": 4 },
                { "width": "6%", "targets": 5 },
                { "width": "8%", "targets": 6 },
                { "width": "8%", "targets": 7 },
                { "width": "8%", "targets": 8 },
                { "width": "7%", "targets": 9 }
            ],
            columns: [
                { "width": "7%" },
                { "width": "30%" },
                { "width": "10%" },
                { "width": "8%" },
                { "width": "8%" },
                { "width": "6%" },
                { "width": "8%" },
                { "width": "8%" },
                { "width": "8%" },
                { "width": "7%" }
            ],
            dom: 'Blfrtip',
            buttons: ['copy', 'excel', 'pdf', 'colvis'],
            lengthMenu: [10, 20, 30, 40, 43, 50, 60, 70, 80, 90, 100],
            pageLength: 10,
            order: []
        });

        
        
        $("#id_download_file").on("click", function(event) {
            event.preventDefault(); // Empêche le comportement par défaut du lien
      
            download_issues_datas();
          });



      
      });


</script>